PORT=3000  /* Onde o back vai rodar;
DB_HOST=localhost /* Se é em um servidor ou na máquina local, como é nesse caso aqui;
DB_PORT=3306 /* Canal que o MySQL usa para se comunicar;
DB_USER=root /* Usuário para acessar a base de dados;
DB_PASSWORD= /* Senha para acessar a base de dados;
DB_NAME= Web_Store /* Nome da base de dados.
