PORT=3000 # Back-end port.
DB_HOST=localhost # Database host.
DB_PORT=3306 # MySQL connection port.
DB_USER=root # Database user.
DB_PASSWORD= # Database password.
DB_NAME=atilas_store # Database name.
